<div class="container-fluid admin_fluid">
    <h4 class="admin_dashboard">DASHBOARD</h4>
    <div class="container admin_wrap">
    <form action="/admin" method="post">
        <div class="admin_home row">
        
        <div class="col-md">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Users"></h5>
            </a>
        </div>
        <div class="col-md-4">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Posts"></h5>
            </a>
        </div>
        <div class="col-md">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Updates"></h5>
            </a>
        </div>
    </div>
    </form>
    <div class="admin_content">
        <div class="admin_users {{users_control}}">
            <h5>USERS</h5>
            <div>
                
                    <input type="button" value="new" class="btn" data-toggle="modal" data-target="#myModal">

            
            {{!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button> --}}

  <!-- Modal -->
  <div class=" container modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New User</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/register" class="card-body1">

                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="First Name" name="firstName" type="text" id="firstName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="firstName">First Name</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="Last Name" name="lastName" type="text" id="lastName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="lastName">Last Name</label> --}}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">

                        <div class='input-group date form-outline' id='datetimepicker5'>
                            <input placeholder="Date of birth" name="dob" type='text' class="form-control" />
                            {{!-- <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span> --}}
                            {{!-- <label class="form-label" for="datetimepicker5">Date of birth</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 form-outline">

                        <h6 class="mb-2 pb-1">Gender: </h6>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="female"
                                value="female" checked />
                            <label class="form-check-label" for="female">Female</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="male"
                                value="male" />
                            <label class="form-check-label" for="male">Male</label>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Email" name="email" type="email" id="emailAddress"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="emailAddress">Email</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Phone Number" name="phonenumber" type="tel" id="phoneNumber"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="phoneNumber">Phone Number</label> --}}
                        </div>

                    </div>
                    <div class="row">
                    <div class="col-12">

                        <div class="form-outline">
                            <input placeholder="Upload an image" type="file" name="avator" id="avator">
                            {{!-- <label class="form-label" for="avator">Upload an image</label> --}}
                        </div>
                    </div>
                </div>
                </div>

                

                <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>

                

            </form>
        </div>
        <div class="modal-footer">
          <button type="button btn-sm" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">userId</th>
                        <th scope="col">Names</th>
                        <th scope="col">Address</th>
                        <th scope="col">Reg. Date</th>
                        <th scope="col">subscription</th>
                        <th scope="col">Status</th>
                        <th scope="col"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark Smith</td>
                        <td>123 Home street, JHB</td>
                        <td>22 Jun 2012</td>
                        <td>basic</td>
                        <td>Verified</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>John Howard</td>
                        <td>123 Scale street, DBN</td>
                        <td>12 Jul 2020</td>
                        <td>premium</td>
                        <td>Verified</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option selected>Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="admin_posts {{posts_control}}">
            <h5>POSTS</h5>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">userId</th>
                        <th scope="col">postId</th>
                        <th scope="col">post Content</th>
                        <th scope="col">Post Date</th>
                        <th scope="col"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>001</td>
                        <td>crimes in sandon</td>
                        <td>22 Jun 2012</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>002</td>
                        <td>Tips from experts</td>
                        <td>12 Jul 2020</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option selected>Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="admin_updates {{updates_control}}">
            
            <h5>UPDATES</h5>
            <div>
                
                <form action="" method="post">
                      

                    <input type="button" value="new" class="btn" data-toggle="modal" data-target="#myModal">

            </form>
            
            </div>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">updateId</th>
                        <th scope="col">Tittle</th>
                        <th scope="col">Content</th>
                        <th scope="col">media</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">001</th>
                        <td>App udtates</td>
                        <td>new ways of how to</td>
                        <td>Image</td>
                        
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th scope="row">002</th>
                        <td>Gov to invest in Cyber</td>
                        <td>department of Intelligence has </td>
                        <td>Video0</td>
                        
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option selected>Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</div>