<div class="container">
    <div class=" admin_home row">
        <h4>DASHBOARD</h4>
        <div class="col-md">
            <a href="">
                <h5>Users</h5>
            </a>
        </div>
        <div class="col-md-4">
            <a href="">
                <h5>Posts</h5>
            </a>
        </div>
        <div class="col-md">
            <a href="">
                <h5>Updates</h5>
            </a>
        </div>
    </div>
</div>