<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <title>Intelli Homes</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href=""><img class="logo img-fluid img-thumbnail" src="logo.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon toggle"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cameras">CAMERA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">REPORTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/updates">UPDATES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notifications">NOTIFICATIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-sign-out"></i></a>
      </li>
     
    </ul>
  </div>
</nav>
    
        {{{body}}}
   
</body>
<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase nav_t">Intelli-Homes</h5>
        <p class="slogan">A solution to your home!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase nav_t">Contacts</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">WEBSITE</a>
          </li>
          <li>
            <a href="/">INSTAGRAM</a>
          </li>
          <li>
            <a href="/">LINKEDIN</a>
          </li>
          <li>
            <a href="/">TWITTER</a>
          </li>
          
        </ul>
        <i class="fas fa-sign-out-alt"></i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase nav_t">Navigate</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/cameras">CAMERAS</a>
          </li>
          <li>
            <a href="reports">REPORTS</a>
          </li>
          <li>
            <a href="updates">UPDATES</a>
          </li>
          <li>
            <a href="notifications">NOTIFICATIONS</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/" class="copyname"> Intelli-Homes</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>