<div class=" camera container">
    <div class="camera_block row container">
        <div class="col-md-6 pic">
            <h4 class="cam_name">Cam 1</h4>
            <img class="cam img-fluid" src="cctv.jpg" alt="">
        </div>
        <div class="col-md-6 pic" >
            <h4 class="cam_name">Cam 2</h4>
            <img class="cam img-fluid" src="cctv2.jpg" alt="">
        </div>
    </div>
    <div class="camera_block row container">
        <div class="col-md-6 pic">
            <h4 class="cam_name">Cam 3</h4>
            <img class="cam img-fluid" src="cam1.jpg" alt="">
        </div>
        <div class="col-md-6 pic">
            <h4 class="cam_name">Cam 4</h4>
            <img class="cam img-fluid" src="cam2.jpg" alt="">
        </div>
    </div>
</div>