<div class=" row camera">
    <div class="camera_block row">
        <div class=" pic1 container">
            <h4 class="cam_name">Cam 1</h4>
            <img class="cam img-fluid" src="cctv.jpg" alt="">
        </div>

    </div>

</div>