<div class=" row camera">
    <div class="camera_block row">
        <div class=" pic1 container">
            <h4 class="cam_name">{{cam}}</h4>
               <video id="videos" controls src="{{srcs}}"> </video>
        </div>

    </div>

</div>

<script>

    
let video = document.querySelector("#videos");

$(document).ready( async function()  {
    let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
	video.srcObject = stream;
});

</script>