<div class=" row camera">
    <div class="camera_block row">
        <div class="col-md-6 pic container">
            <a href="/camera/0">
            <h4 class="cam_name" onload="">Cam 1</h4></a>
            
            <video muted id="video"width="100%" height="300" id="videos" controls autoplay></video>
            
        </div>
        <div class="col-md-6 pic container" >
            <a href="/camera/1">
            <h4 class="cam_name">Cam 2</h4></a>
            <video muted width="100%" id="videos" controls autoplay src="http://localhost:3017/videos"> </video>
        </div>
    </div>
    <div class="camera_block row">
        <div class="col-md-6 pic container">
            <a href="/camera/2">
            <h4 class="cam_name">Cam 3</h4></a>
            <video muted id="videos" width="100%" controls autoplay src="http://localhost:3017/videos1"> </video>
        </div>
        <div class="col-md-6 pic container">
            <a href="/camera/3">
            <h4 class="cam_name">Cam 4</h4></a>
            <video muted id="videos" width="100%" controls autoplay src="http://localhost:3017/videos2"> </video>
        </div>
    </div>
</div>

<script>
let video = document.querySelector("#video");

$(document).ready( async function()  {
    let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
	video.srcObject = stream;
});

</script>