<div class=" row home">
    
    <div class="col-sm-3 container left">
       <div class="homediv">
            <h4>RJ MOHEANE</h4>
        
            <img src="/logo.png" class="img-fluid img-responsive profilepic thumbnail rounded-image" alt="">
       </div>
       <div class="home_prof homediv homediv2 ">
          <div class="text-center"> <i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
           <div><h5 class="text-center">15 June 2021</h5></div>
       </div>
       <div class="home_prof homediv homediv2 ">
           <div class="text-center"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
          
           <div><h5 class="text-center">20 C</h5></div>
       </div>
       
        
    </div>
    <div class="col-sm-6">
        two
    </div>
    <div class="col-sm-3 container right">
         <div class="home_prof homedivr ">
          <div class="text-center"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
           <div><h4 class="text-center">UPDATES</h4></div>
       </div>
       <div class="homediv">
           <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">How to avoid robbery</h5>
        
            <p class="left_p">
                Be aware of your surroundings. If you think you are 
                    being followed, go to a crowded area.
                    Do not carry large amounts of money.
                    Carry keys in your hand...
                   
            </p>
            <div class="left_span">
                 <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>
                   
            </div>
       </div>
       <div class="homediv">
           <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">Government to invest in cyber</h5>
        
            <p class="left_p">
                The string of recent cyber attacks highlights America’s
                cybersecurity vulnerabilities - and raises awareness of
                the cybersecurity companies that protect personal, 
                private and government networks. 
                The Cyber Security ETF (HACK) is up more than 
                30 percent in the last year...
            </p>
            <div class="left_span">
                 <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>
                   
            </div>
       </div>
       <div class="homediv">
           <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">Safety tips</h5>
        
            <p class="left_p">
                Use tools and machines properly. ...
                Be aware of your surroundings. ...
                Be safe in the cold weather. ...
                Follow procedure, don't take shortcuts. ...
                Wear your protective gear...
            </p>
            <div class="left_span">
                 <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>
                   
            </div>
       </div>
      
       
    </div>
</div>