<div class=" row home">
  


    <div class="col-md-3 container left">
        <div class="homediv">
            <h4 class="home_name">{{username}}</h4>

            <img src="/logo.png" class="img-fluid img-responsive profilepic thumbnail rounded-image" alt="">
        </div>
        <div class="home_prof homediv homediv2 ">
            <div class="text-center"> <i class="fa fa-calendar fa-5x" aria-hidden="true"></i></div>
            <div>
                <h5 class="text-cente mdl_date">15 June 2021</h5>
            </div>
        </div>
        <div class="home_prof homediv homediv2 ">
            <div class="text-center"><i class="fa fa-sun-o fa-5x" aria-hidden="true"></i></div>

            <div>
                <h5 class="text-center mdl_weather">20 C</h5>
            </div>
        </div>


    </div>
    <div class="col-md-6 middle">
        <div class="post_input">
            <div>
                <textarea class="txtpost" name="post" id="" cols="50" rows="5"
                    placeholder="What's in your mind?"></textarea>
            </div>
            <div class="middleb">
                <button type="submit" class="mdl-btn btn-sm btn-primary">Post</button>
            </div>
        </div>
        <div class="post_input1 ">
            <div class="post">
                <div class="post_meta_wrap">
                    <h5 class="post_name">David Smith</h5>
                <h6 class="post_date">09:34 mon, 22 Jun</h6>
                </div>
                <div class="post_cont_wrap">
                    <h2 class="post_tittle">Robbery Windburg</h2>
                    <p class="post_content">There has been a robbery on the 11th
                    road, West State that happend ealier
                    this morning. Be on the lookout for
                    your safety
                </p>
                </div>
                
            </div>
            <div class="post">
                <div class="post_meta_wrap">
                    <h5 class="post_name">John Wayne</h5>
                <h6 class="post_date">12:12 tue, 02 JuL</h6>
                </div>
                <div class="post_cont_wrap">
                    <h2 class="post_tittle">Kidnapping in Sandton</h2>
                    <img class="post_img img-fluid" src="cr3.jpg" alt="">
                </div>
                
            </div>
            <div class="middleb">

            </div>
        </div>
    </div>
    <div class="col container right">
        <div class="home_prof homedivr ">
            <div class="text-center"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
            <div>
                <h4 class="text-center updates">UPDATES</h4>
            </div>
        </div>
        <div class="homediv">
            <div>
                <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">How to avoid robbery</h5>
            </div>

            <div>
                <p class="left_p">
                Be aware of your surroundings. If you think you are
                being followed, go to a crowded area.
                Do not carry large amounts of money.
                Carry keys in your hand...

            </p>
            </div>
            <div class="left_span">
                <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>

            </div>
        </div>
        <div class="homediv">
           <div>
                <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">Government to invest in cyber</h5>
           </div>

            <p class="left_p">
                The string of recent cyber attacks highlights America’s
                cybersecurity vulnerabilities - and raises awareness of
                the cybersecurity companies that protect personal,
                private and government networks.
                The Cyber Security ETF (HACK) is up more than
                30 percent in the last year...
            </p>
            <div class="left_span">
                <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>

            </div>
        </div>
        <div class="homediv">
            <div>
                <h5 class="left_date">21 June 2021</h5>
            <h5 class="left_tittle">Safety tips</h5>
            </div>

            <p class="left_p">
                Use tools and machines properly. ...
                Be aware of your surroundings. ...
                Be safe in the cold weather. ...
                Follow procedure, don't take shortcuts. ...
                Wear your protective gear...
            </p>
            <div class="left_span">
                <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>

            </div>
        </div>


    </div>
</div>