<div class=" row home">
    
    <div class="col-md-3 container left">
       <div>
            <h4>RJ MOHEANE</h4>
        
            <img src="/logo.png" class="img-fluid img-responsive profilepic thumbnail rounded-image" alt="">
       </div>
       <div>
           
       </div>
        
    </div>
    <div class="col-md-6">
        two
    </div>
    <div class="col-md-3">
       three 
    </div>
</div>