<div class=" row home">
    
    <div class="col-md-3 container left">
       <div class="homediv">
            <h4>RJ MOHEANE</h4>
        
            <img src="/logo.png" class="img-fluid img-responsive profilepic thumbnail rounded-image" alt="">
       </div>
       <div class="home_prof homediv homediv2 ">
          <div class="text-center"> <i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
           <div><h5 class="text-center">15 June 2021</h5></div>
       </div>
       <div class="home_prof homediv homediv2 ">
           <div class="text-center"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
          
           <div><h5 class="text-center">20 C</h5></div>
       </div>
       
        
    </div>
    <div class="col-md-6">
        two
    </div>
    <div class="col-md-3">
       three 
    </div>
</div>