



    <div class="card shadow-2-strong card-registration regwrap container" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5 ">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 register_p">login to your account</h3>
            <form method="post" action="/register" class="card-body1">

               <div class="row login_text">
						<h2 class="">Log In</h2>
					</div>
                            <div class="row">
                                <select id="inputState" class=" form__input" name="userType">
                                    <option selected>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn form__input">
							</div>
                            

                

            </form>
           <small class="row register_phrase">
								<p>Don't have an account? <span><a href="/register">Register</a></span></p>
							</small>
        </div>
    </div>
  



