<div class="login">
    <div class="container">
		<div class="row main-content text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><img class="logo2 img-fluid img-thumbnail" src="logo.png" alt=""></span>
				<h4 class="company_title">INTELLI HOMES</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					
					<div class="row">
                        
						<form control="" class="form-group" method="post" action="/login">
                            <div class="row login_text">
						<h2 class="">Log In</h2>
					</div>
                            <div class="row">
                                <select id="inputState" class="form-control" name="userType">
                                    <option selected>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn form__input">
							</div>
                            
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>