



    <div class="card shadow-2-strong card-registration regwrap container" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5 ">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 register_p">Register an account</h3>
            <form method="post" action="/register" class="card-body1">

                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="First Name" name="firstName" type="text" id="firstName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="firstName">First Name</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="Last Name" name="lastName" type="text" id="lastName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="lastName">Last Name</label> --}}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">

                        <div class='input-group date form-outline' id='datetimepicker5'>
                            <input placeholder="Date of birth" name="DOB" type='text' class="form-control" />
                            {{!-- <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span> --}}
                            {{!-- <label class="form-label" for="datetimepicker5">Date of birth</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 form-outline">

                        <h6 class="mb-2 pb-1">Gender: </h6>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="female"
                                value="female" checked />
                            <label class="form-check-label" for="female">Female</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="male"
                                value="male" />
                            <label class="form-check-label" for="male">Male</label>
                        </div>


                    </div>
                </div>

                                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">

                        <div class='input-group date form-outline' id='datetimepicker5'>
                            <input placeholder="Password" name="password" type='password' class="form-control" />
                            {{!-- <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span> --}}
                            {{!-- <label class="form-label" for="datetimepicker5">Date of birth</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 form-outline">

               

                        <div class="input-group date form-outline">
                                                        <input placeholder="Re-type Password" name="password2" type='password2' class="form-control" />

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Email" name="email" type="email" id="email"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="emailAddress">Email</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Phone Number" name="phone" type="text" id="phone"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="phoneNumber">Phone Number</label> --}}
                        </div>

                    </div>
                    <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Upload an image" type="file" name="avator" id="avator">
                            {{!-- <label class="form-label" for="avator">Upload an image</label> --}}
                        </div>
                    </div>
                     <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <select id="inputState" class=" form__input" name="role">
                                    <option selected>User</option>
                                    <option disabled>Admin</option>
                                </select>
                                </div>
                            </div>
                </div>
                </div>

                

                <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>

                

            </form>
           <small class="row register_phrase">
								<p>Have an account? <span><a href="/login">Login</a></span></p>
							</small>
        </div>
    </div>
  



