<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>
<div id="content" class="p-4 p-md-5 pt-5">
<div class="col-md-0">
                <div class="row">

                    <!--No of written exams card-->
                    <div class="col-md-3 col-md-4">
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Number of crime committed</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                        171
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--No of written exams card-->
                    <div class="col-md-3 col-md-4">
                        <div class="card l-bg-blue-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">House Robbery</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                        104
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--No of written exams card-->
                    <div class="col-md-3 col-md-4">
                            <div class="card l-bg-orange-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Crimes Reported</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                            67
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    <script>
                        var xValues = ["Tembisa", "Ebony Park", "Clayville", "Daveyton", "Soweto"];
                        var yValues = [18, 22, 11, 33, 20];
                        var barColors = ["red", "green","blue","orange","brown"];

                        new Chart("myChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                            }]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                            display: true,
                            text: "Number of house robbery committed per town 2021"
                            }
                        }
                        });
                    </script>         
                </div>
            </div>
</div>



</body>
</html>

