<div class="right">
     <div class="container ">
        <div class="home_prof homedivr ">
            <div class="text-center"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
            <div>
                <h4 class="text-center updates1">UPDATES</h4>
            </div>
        </div>
        {{#each results2}}

            <div class="homediv">
            <div>
                <h5 class="left_date">{{created_on}}</h5>
            <h5 class="left_tittle">{{tittle}}</h5>
            </div>

            <div>
                <p class="left_p">
                {{post_content}}

            </p>
            </div>
            <div class="left_span">
                <a href=""><i class="fa fa-book" aria-hidden="true">more</i></a>

            </div>
        </div>
        {{/each}}
    </div>
</div>