:root{
    --base: #32936f;
    --primary: #2274a5;
    --secondary: #ffffff;
    --fouth: #e83f6f;
    --fith: #ffbf00;

}
body{
    background-color: var(--secondary);
}

.navbar{
    background-color: var(--primary);
}

.navbar-nav > li > a{
    color: var(--secondary);
}

.navbar-nav > li > a:hover{
    color: var(--fith);
}

.nav-item, .navbar > a{
    margin: 3px;
    padding: 3px;
}

.logo{
    width: 7.5%;
    height: auto;
}

.page-footer{
    background-color: var(--primary);
}

.navbar-nav > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}
.list-unstyled > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}

.toggle{
    background-color: var(--secondary);
    color: var(--fith);
}

.footer-copyright{
    background-color: var(--fouth);
}

.text-uppercase{
    color: var(--fith);
}

.slogan{
    color: var(--secondary);
}

.profilepic{
    width: 80%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.home{
    margin: 5px;
    padding: 5px; 
}

.home_prof{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

}

.homediv{
    background-color: var(--base);
    margin: 5px;
    padding: 5px;
}

.homediv2{
    text-align: center;
    justify-content: center;
}