:root{
    --base: #32936f;
    --primary: #2274a5;
    --secondary: #ffffff;
    --fouth: #e83f6f;
    --fith: #ffbf00;

}
body{
    background-color: var(--secondary);
}

.navbar{
    background-color: var(--primary);
}

.navbar-nav > li > a{
    color: var(--secondary);
}

.navbar-nav > li > a:hover{
    color: var(--fith);
}

.nav-item, .navbar > a{
    margin: 3px;
    padding: 3px;
}

.logo{
    width: 7.5%;
    height: auto;
}

.page-footer{
    background-color: var(--primary);
}

.navbar-nav > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}
.list-unstyled > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}

.toggle{
    background-color: var(--secondary);
    color: var(--fith);
}

.footer-copyright{
    background-color: var(--fouth);
}

.text-uppercase{
    color: var(--fith);
}

.slogan{
    color: var(--secondary);
}

.profilepic{
    width: 80%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.right{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--base);
}
.home{
    margin: 5px;
    padding: 5px; 
}

.home_prof{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

    justify-content: center;

}

.homediv{
    background-color: var(--base);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border-bottom: 3px var(--secondary) solid;
}

.homediv2{
    background-color: var(--fouth);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.homedivr{
    background-color: var(--fith);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.left_date{
    text-align: right;
    width: 50%;
    background-color: var(--secondary);
    justify-content: right;
    float: right;
}

.left_tittle{
    background-color: var(--fith);
    padding: 3px;
    font-size: medium;
    font-weight: bold;
}

.left_p{
    color: var(--secondary);
    font-size: small;
    padding: 4px;
    border: 1px var(--fith) inset;
    border-radius: 4px;

}

.left_span{
    
    background-color: var(--fouth);
    margin: 2px;
    color: var(--secondary);
    display: block;
    padding: 3px;
}

.left_span > a> i{
    color: var(--secondary);

}

.left_span > a> i:hover{
    color: var(--fith);

}

.post_input{
    width: 100%;
    text-align: center;
    display: block;
    background-color: var(--fith);
    color: var(--primary);
    margin: 3px;
    padding: 8px;
}

.middle{
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--base);
}


.txtpost{
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    width: 50%;
}

.middleb{
    border-radius: 4px;
    margin: 5px;
    text-align: right;
}

.calender{
    font-size: medium;
    font-weight: normal;
    
}

.mdl_date, .mdl_weather{
    margin: 5px;
    padding: 5px;
    font-size: medium;
    background-color: var(--secondary);
    color: var(--fouth);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home_name{
    background-color: var(--fith);
    color: var(--base);
    padding: 5px;
}

