:root{
    --base: #32936f;
    --primary: #2274a5;
    --secondary: #ffffff;
    --fouth: #e83f6f;
    --fith: #ffbf00;

}
body{
    background-color: var(--secondary);
}

.navbar{
    background-color: var(--primary);
}

.post_content{
    color: var(--secondary);
    font-weight: lighter;
    border: 1px var(--secondary) outset;
    
}

.navbar-nav > li > a{
    color: var(--secondary);
}

.navbar-nav > li > a:hover{
    color: var(--fith);
}

.nav-item, .navbar > a{
    margin: 3px;
    padding: 3px;
}

.logo{
    width: 7.5%;
    height: auto;
}

.page-footer{
    background-color: var(--primary);
}

.navbar-nav > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}
.list-unstyled > li > a{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
}

.toggle{
    background-color: var(--secondary);
    color: var(--fith);
}

.footer-copyright{
    background-color: var(--fouth);
}

.text-uppercase{
    color: var(--fith);
}

.slogan{
    color: var(--secondary);
}

.profilepic{
    width: 80%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--base);
}

.right{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--base);
}
.home{
    margin: 5px;
    padding: 5px; 
}

.home_prof{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

    justify-content: center;

}

.homediv{
    background-color: var(--fouth);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border-bottom: 3px var(--secondary) solid;
}

.homediv2{
    background-color: var(--fouth);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.homedivr{
    background-color: var(--fith);
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    color: var(--base);
    border-radius: 2px;
}

.left_date{
    text-align: right;
    width: 50%;
    background-color: var(--secondary);
    justify-content: right;
    float: right;
    border-radius: 2px;
}

.left_tittle{
    background-color: var(--fith);
    padding: 3px;
    font-size: medium;
    font-weight: bold;
    clear: both;
    border-radius: 2px;
}

.left_p{
    color: var(--fith);
    font-size: small;
    padding: 4px;
    border: 1px var(--fith) inset;
    border-radius: 4px;
    background-color: var(--primary);
    
}

.left_span{
    
    background-color: var(--fouth);
    margin: 2px;
    color: var(--secondary);
    display: block;
    padding: 3px;
}

.left_span > a> i{
    color: var(--secondary);

}

.left_span > a> i:hover{
    color: var(--fith);

}

.post_input{
    width: 100%;
    text-align: center;
    display: block;
    background-color: var(--fith);
    color: var(--primary);
    margin: 3px;
    padding: 8px;
}

.post_input1{
    width: 100%;
    text-align: center;
    
    background-color: var(--fith);
    color: var(--primary);
   
    padding: 20px;
    border-radius: 10px;
}

.middle{
    margin: 5px;
    padding: 5px;
    text-align: center;
    
    background-color: var(--base);
    display: block;
}


.txtpost{
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    width: 50%;
}

.middleb{
    border-radius: 4px;
    margin: 5px;
    text-align: right;
}

.calender{
    font-size: medium;
    font-weight: normal;
    
}


.mdl_date, .mdl_weather{
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: medium;
    background-color: var(--secondary);
    color: var(--fouth);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home_name{
    background-color: var(--fith);
    color: var(--base);
    padding: 5px;
    border-radius: 2px;
}

.post_name{
    float: left;
    color: var(--primary);
    background-color: var(--secondary);
    
    padding: 3px;

    /* font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.post_date{
    color: var(--primary);
    float: right;
    background-color: var(--secondary);
    padding: 3px;

}

.post{
    display: block;
    border-radius: 4px;
    margin: 6px;
    padding: 6px;
    background-color: var(--fouth);
}
.post_cont_wrap{
    /* background-color: var(--fouth); */
    padding: 4px;
    border-radius: 4px;
}

.post_tittle{
    /* background-color: var(--fith); */
    clear: both;
    background-color: var(--fith);
    color: var(--fouth);
    padding: 5px;
    font-weight: normal;
    font-size: large;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post_meta_wrap{
    padding: 4px;
    background-color: var(--secondary);
}

.post_img, .cam{
    width: 100%;
    height: auto;
}

.camera{
    background-color: var(--base);
    margin: 5px;
    padding: 4px;
    text-align: center;
    justify-content: center;
    display: block;
}

.pic{
    padding: 8px;
    
    
    background-color: var(--primary);


}
.cam{
    border-radius: 9px;
}


.cam_name{
    padding: 2px;
    color: var(--secondary);
    background-color: var(--fith);
    border-radius: 2px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

#chart-container {
    width: 100%;
    height: auto;
}
